{% extends 'blog/base.html' %}
{% load static %}
{% block main %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static "blog/assets/img/Welcome.jpg" %}')">
    <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>صفحه ی من</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
    </div>
  </header>

<!-- Main Content-->
   <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <h3 class="alert alert-primary text-center">{{category.title}}</h3>
            {% for article in object_list %}
               <!-- Post preview-->
                <div class="post-preview">
                 <a href="{% url 'blog:detail' article.slug %}">
                     <h2 class="post-title">{{article.title}}</h2>
                     <h3 class="post-subtitle">{{article.description | truncatewords:30}}</h3>
                 </a>
                 <p class="post-meta">
                     نوشته شده توسط امین
                     <a href="#!"></a>
                    {{article.jpublish}}
                 <div>
                   {% for cat in article.category_published.all %}
                     <a href="#">#{{cat.title}}</a>
                   {% endfor %}
                 </div>
                 </p>
             </div>
             <!-- Divider-->
             <hr class="my-4" />
            {% endfor %}
              <!-- Pager-->
              {% if is_paginated %}
              <div class="clearfix pager-botton">
               {% if page_obj.has_previous %}
                 <a class="btn btn-primary float-right ml-3" href="{% url 'blog:category' category.slug page_obj.previous_page_number %}">پست های جدید &rarr;</a>
               {% endif %}
               {% if page_obj.has_next %}
               <a class="btn btn-primary float-right" href="{% url 'blog:category' category.slug page_obj.next_page_number %}">پست های قدیمی &larr;</a>
               {% endif %}
              </div>
            {% endif %}
          </div>
      </div>
  </div>
{% endblock %}